
</body>
<script src="html2canvas.js" charset="utf-8"></script>
<script src="index.js" type="text/javascript" charset="utf-8"></script>
<a href="/logout">log out</a>
<footer>
  Copyright 2021 KUSUMANCHI RAKESH
</footer>

</html>
